@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Generics */

body {
  background-color: rgba(17, 24, 39);
}

input {
  color: black;
  border-radius: 5px;
}

a:hover:not(.no-hover-effect) {
  opacity: 0.7;
}

/* Custom Classes */

.marker-active {
  z-index: 1;
}

.mapboxgl-popup-close-button {
  padding-right: 0.3rem;
  font-size: 1.25rem;
}
